/* typography */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

/* elements */
body {
	margin:0;
	font-family:roboto slab,helvetica neue,lucida sans,sans-serif;
}
header>div,section,footer>div {
	margin:0 auto;
	width:50%;
}

header {
	background:#121212;
	color:#fff;
	overflow:hidden;
	text-shadow:1px 1px 0 #000,2px 2px 0 #000,3px 3px 0 #000,0 0 12px rgba(255,255,255,.12);
}
header span {
	display:inline-block;
}

section {
	padding:1em 0;
}

footer {
	background:#1a3f59;
}

/* ids */
#hn { /* header name */
	color:inherit;
	font-size:40pt;
	font-weight:bold;
	font-family:montserrat,gotham,helvetica neue,sans-serif;
	line-height:.7;
}
#hsn { /* header sub-name */
	margin:-1em 0 0 3em;
	line-height:.4;
}