<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- the script should preferably load before the other resources -->
		<script src="https://blieque.github.io/scripts/http-to-https.js"></script>
		<title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.name }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/styles/hteaml.css">
        <link rel="apple-touch-icons-precomposed" type="image/png" href="{{ site.url }}/images/icon-teacup/180.png" sizes="180x180">
        <link rel="icons" type="image/png" href="{{ site.url }}/images/icon-teacup/192.png" sizes="192x192">
        <link rel="icons" type="image/png" href="{{ site.url }}/images/icon-teacup/096.png" sizes="96x96">
        <link rel="icons" type="image/png" href="{{ site.url }}/images/icon-teacup/048.png" sizes="48x48">
        <link rel="icons" type="image/png" href="{{ site.url }}/images/icon-teacup/032.png" sizes="32x32">
        <link rel="icons" type="image/png" href="{{ site.url }}/images/icon-teacup/016.png" sizes="16x16">
	</head>
	<body>
		<header>
			<div>
				<a href="{{ site.url }}" id="hn">hteaml</a><div id="hsn">{{ site.subname }}</div>
			</div>
		</header>
		<main role="main">
			<div>
