<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- the script should preferably load before the other resources -->
		<script src="https://blieque.github.io/scripts/http-to-https.js"></script>
		<title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.name }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/styles/hteaml.css">
	</head>
	<body>
		<header>
			<div>
				<a href="{{ site.url }}" id="hn">hteaml</a><div id="hsn">{{ site.subname }}</div>
			</div>
		</header>
		<main role="main">
			<div>
