@font-face {
	font-family:'droid sans';
	src:url('https://blieque.github.io/static/fonts/droid-sans.eot?') format('eot'),
		url('https://blieque.github.io/static/fonts/droid-sans.woff') format('woff'),
		url('https://blieque.github.io/static/fonts/droid-sans.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'droid sans';
	src:url('https://blieque.github.io/static/fonts/droid-sans-bold.eot?') format('eot'),
		url('https://blieque.github.io/static/fonts/droid-sans-bold.woff') format('woff'),
		url('https://blieque.github.io/static/fonts/droid-sans-bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

body {
	margin:0;
	font-family:droid sans,helvetica neue,sans-serif;
}
section,footer {
	margin:1.4em auto;
	width:60%;
	min-width:300px;
	max-width:1200px;
	background:#fff;
}
footer {
	padding-top:1em;
	border-top:1px solid #cfcfcf;
}
h1,h2,h3,h4,h5,h6 {
	margin-top:0;
}
pre {
	padding:.8em;
	background:#f3f3f3;
	border:1px solid #e7e7e7;
}
pre>div:first-child {
	margin:-.8em -.8em .8em;
	padding:.4em .8em;
	background:#e7e7e7;
}
