---
layout: compress
---

{% include header.html %}

{{ content }}

<nav id="pg">

    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}"><svg width="8" height="22"><path d="M7 23L1 11L7 -1"/></svg>newer guff</a>
    {% endif %}

    <div>{{ paginator.page }}<svg width="14" height="22"><path d="M1 23L13 -1"/></svg><strong>{{ paginator.total_pages }}</strong></div>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">older guff<svg width="8" height="22"><path d="M1 23L7 11L1 -1"/></svg></a>
    {% endif %}

</nav>

{% include footer.html %}
