/* typography */
@import url(https://fonts.googleapis.com/css?family=Palanquin+Dark:500,600);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

/* elements */
html,body {
    min-height:100vh;
}
body {
    margin:0;
    color:#121212;
    background:#ededed;
    font-size:15.4pt;
    font-family:old standard tt,cmu serif,georgia,sans-serif;
    line-height:1.6;
}
#hn,h1,h2,h3,h4,h5,h6 {
    margin:-.32em 0 .8em;
    font-family:palanquin dark,franklin gothic book,helvetica neue,sans-serif;
    letter-spacing:.01em;
}
p+h1,p+h2,p+h3,p+h4,p+h5,p+h6 {
    margin-top:0;
}
h1 {
    font-size:2em;
}
h2 {
    font-size:1.7em;
}
h3 {
    margin-top: -.34em;
    font-size:1.4em;
}
h6 {
    text-transform:uppercase;
}
a {
    color:#1b53ff;
    text-decoration:none;
    box-shadow:0 -3px #bfd7ff inset,0 0px #bfd7ff;
}
a:hover {
    color:#3aa3ff;
    box-shadow:0 -1px #bfd7ff inset,0 2px #bfd7ff;
}
main a:visited {
    color:#b21fe0;
}
main a:visited:hover {
    color:#db6aff;
}
h1 a,h2 a,h3 a,h3 a,h5 a,h6 a {
    padding-bottom:2px;
}
sup,sub {
    padding-left:.2em;
    text-transform:uppercase;
    font-size:70%;
    line-height:1;
}

div.img {
    margin:2.4em -10%;
    width:120%;
}
div.img:after {
    content:'';
    display:block;
    clear:both;
}
div.img.blend {
    margin:calc(30px - 2.4em) -10%;
}
div.img a,div.img div {
    float:left;
    box-shadow:none;
}
div.img img {
    display:block;
}
div.img div {
    margin-bottom:1em;
    padding:.8em 1em 0 1em;
    width:100%;
    color:#444;
    font-size:90%;
}
div.img div:last-child,div.img.twin div:nth-last-child(2) {
    margin-bottom:0;
}
div.img.twin a,div.img.twin div:not(.one-caption) {
    width:calc(50% - 15px)
}
div.img.twin a:nth-of-type(2n),div.img.twin div:last-of-type {
    margin-left:30px;
}
div.img a:nth-child(n + 2) {
    margin-top:30px;
}
div.img.twin a:nth-of-type(2) {
    margin-top:0;
}

/* essentially classes */
header,#pg a,#pg div,article>h1+div {
    color:#fff!important;
    background:#121212;
    font-size:80% !important;
}
header>div,main>div,footer>div,div.img div,#pn {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
a,#pg svg {
    -webkit-transition:all .1s ease;
    transition:all .1s ease;
}
footer,article>h1+div,aside {
    color:#666;
    font-size:95%;
}
#hn,aside>div a {
    background:url(/images/sprite.png);
    /* imperfect but functional */
    background:linear-gradient(transparent,transparent),url(/images/sprite.svg);
    background-size:130%;
}

/* header */
header>div,main>div,footer>div {
    margin:0 auto;
    padding:1em;
    width:60%;
    max-width:calc(1000px + 2em);
}
header {
    font-size:13pt;
}
header span {
    display:inline-block;
}

/* main section/wrapper */
main,section {
    border-bottom:solid 1px #ddd;
}
main {
    border-bottom:solid 1px #ddd;
}
main>div {
    padding-top:0;
}
article,aside,section {
    padding:1.8em 0;
}
article>:last-child {
    margin-bottom:.4em;
}
aside :last-child {
    margin-bottom:0;
}
article>p:first-of-type:first-letter {
    margin:.1em .12em 0 .05em;
    float:left;
    font-size:330%;
    line-height:.8;
}
article>p:first-of-type {
    text-indent:-.3em;
}
article>h1+div {
    display:inline-block;
    margin-bottom:.4em;
    padding:.2em .6em;
    font-style:italic;
}
article>p {
    margin:1.4em 0;
}
article>h1 {
    line-height:1.4;
}
section h2 {
    line-height:1.4;
}
hr {
    border:none;
}
hr:after {
    content:"\2732\3000\2732\3000\2732";
    display:block;
    color:#666;
    text-align:center;
}
.i+span {
    display:block;
    margin:-1.7em 0 1.2em;
    padding:.2em .6em;
    color:#fff;
    background:#444;
    font-size:95%;
}
aside {
    padding:1.5em;
    color:#242424;
    background:#fff;
    line-height:1.5;
}
aside>div,aside>p {
    display:inline-block;
}
aside>div {
    margin-right:1.5em;
    width:246px;
}
aside>div div {
    margin:0 1.5em 0 0;
    float:left;
    width:100px;
    height:100px;
    text-indent:-999em;
    background:url(https://1.gravatar.com/avatar/bb7ffa15bc30f2162b28ac11d398e993?s=100);
    border:solid #fff 4px;
    -webkit-border-radius:100px;
    border-radius:100px;
}
aside>p {
    margin:-.32em 0 0 0;
    width:calc(100% - 246px - 3em);
    vertical-align:top;
    clear:both;
}
aside>div a {
    display:inline-block;
    margin:0 18px 18px 0;
    width:24px;
    height:24px;
    position:relative;
    box-shadow:none!important;
    text-indent:-999em;
    background-size:830%; /* no idea */
}
aside>div a:nth-of-type(3n) {
    margin-right:0;
}
#sw {
    background-position:0px 0;
}
#sg {
    background-position:-25px 0;
}
#se {
    background-position:-50px 0;
}
#sl {
    background-position:-75px 0;
}
#st {
    background-position:-100px 0;
}
#sf {
    background-position:-125px 0;
}
#sp {
    background-position:-150px 0;
}
#sy {
    background-position:-175px 0;
}
table,thead,tbody,tr,th,td {
    border:solid #444;
    border-width:0px;
}
table {
    border-collapse:collapse;
    border-width:2px;
}
thead {
    border-width:1px 2px 2px 1px;
    background:#eee;
}
thead,th {
    font-family:palanquin dark,franklin gothic book,helvetica neue,sans-serif;
    text-align:left;
    vertical-align:bottom;
}
tbody,td {
    vertical-align:top;
}
th,td {
    border-width: 1px 0 0 1px;
    padding:.5em .8em .4em .7em;
}
th {
    padding-bottom:.6em;
}

/* footer */
footer {
    background:#fff;
    padding-bottom:1em;
}
footer a {
    opacity:.8;
}

/* ids */
#hn,#hsn {
    display:inline-block;
}
#hn { /* header name */
    margin:.75em 0;
    width:153px;
    height:40px;
    box-shadow:none;
    background-position:0 -25px;
    text-indent:-999em;
}
#hsn { /* header sub-name */
    margin:1em 0 0 4em;
    vertical-align:top;
}
#pg {
    padding:1em 0 0;
    position:relative;
    text-align:center;
}
#pg a {
    position:absolute;
    text-decoration:none;
}
#pg a:first-child {
    left:0;
}
#pg a:last-child {
    right:0;
}
#pg a,#pg div { /* page number/navigation blobs */
    display:inline-block;
    padding:.3em 1.2em .5em;
    height:1.5em;
}
#pg a:first-child svg {
    margin:0 .8em -.4em -.2em;
    right:0;
}
#pg a:last-child svg {
    margin:0 -.2em -.4em .8em;
    left:0;
}
#pg a:first-child:hover svg {
    right:.4em;
}
#pg a:last-child:hover svg {
    left:.4em;
}
#pg svg {
    margin:0 .4em -.3em;
    position:relative;
}
#pg path {
    fill:none;
    stroke:#fff;
    stroke-width:2px;
}

@media (max-width:800px),(max-device-width:800px) {
    aside>div {
        width:100px;
    }
    aside>div div {
        margin:0 0 1.2em;
    }
    aside>p {
        width:calc(100% - 100px - 3.2em);
    }
}

@media (max-width:500px),(max-device-width:500px) {
    p {
        font-size:110%;
    }
    header>div,main>div,footer>div {
        margin:0;
        width:100%;
        min-width:0;
    }

    main>div {
        padding:0 0 1em;
    }
    main>div>* {
        padding:1em;
    }
    nav a:first-child {
        left:1em;
    }
    nav a:last-child {
        right:1em;
    }
    aside>div,aside>p {
        display:block;
        width:100%;
    }
    aside>div {
        margin:0 0 1.2em;
    }
    aside>div:after {
        content:"";
        display:block;
        clear:both;
    }
    aside>div div {
        margin:0 1.2em 0 0;
    }

    #hn,#hsn {
        display:block!important;
        text-align:center;
        font-weight:normal;
    }
    #hn {
        margin:.75em auto;
    }
    #hn span {
        font-weight:bold;
    }
    #hsn {
        margin:0 0 .6em;
    }
    #sl,#sp {
        margin-right:13px;
    }
}
